.hero {
  height: 50vh;
  background: url(debugduck.jpg) no-repeat center top;
  background-size: cover;
}

.hero h1 {
  color: #ffffff;
  font-size: 5em;
}

.hero h2 {
  color: #ffffff;
  font-size: 1.5em;
}

.hero-text {
  padding-top: 25px;
  height: 50vh;
  vertical-align: center;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0, 0.7);
}

.hero-text h1, h2 {
  padding-right: 25px;
  padding-left: 25px;
}